@font-face {
  font-family: FrancoisOne;
  src: url(../fonts/FrancoisOne-Regular.ttf);
}
@font-face {
  font-family: Acme;
  src: url(../fonts/Acme-Regular.ttf);
}
@font-face {
  font-family: LondrinaSolid;
  src: url(../fonts/LondrinaSolid-Regular.ttf);
}